.container{
  width: 100%;

  .details-box{
    width: 100%;

    .pro-title{
      padding: 0 .25rem;

      h3{
        font-size: .24rem;
        font-weight: normal;
      }

      span{
        font-size: .14rem;
      }
    }

    .price-label{
      width: 100%;

      .tpo-price{
        font-size: .22rem;
        color: #C69C6D;
        padding-left: .24rem;
        height: .3rem;
        line-height: .3rem;
      }
    }

  }

}