.head{
  width: 100%;
  height: 0.34rem;
  line-height:0.34 ;
  font-size: 0.12rem;
  color: #442818;
  background-color: #fff;
  a{
    width: 100%;
    display:inline-block;
    cursor: pointer;
    height: .25rem;
    font-size: .2rem;
    text-align: center;
    vertical-align: middle;
    line-height: .25rem;
    margin-top: .05rem;
    img{
      width: .25rem;
      height: 0.2rem;
      display: inline-block;

    }
  }
}