.footer{
  width: 100%;
  height: 1.17rem;
  position: absolute;
  bottom: 0;
  left:0;
  background-color: lightgoldenrodyellow;
  ul{
    display:flex ;
    flex-direction:row;
    width: 100%;
    height: 1.17rem;
    justify-content:center;
    align-items:center;
    li{
     flex:1;
      float: left;
      width: .72rem;
      height: 1.17rem;
     line-height: 1.17rem;
  list-style: none;
      margin: .16rem auto .2rem auto;
      a{

        display: inline-block;
        width: .72rem;
        height: .87rem;
        font-size: .21rem;
        color:#442818;
        margin-left: .31rem;

        i{
          text-align: center;
          width: .72rem;
          height: .87rem;
          color:#442818;
          font-size: .55rem
      }
      }
    }
  }


}