.community{
  background: #fff;
  width: 100%;
  h3{
    font-size: .24rem;
    height: .48rem;
    margin: 0 auto;
    text-align: center;
    padding-top:.1rem ;
  }
  .list{
    top: .48rem;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    height: .48rem;
    span{
      color:#707070;
      font-size: .2rem;
      height: .48rem;
      display: inline-block;
      width: 50%;
      padding-bottom:-.1rem ;
      line-height: .48rem;
    }
    .active{
      color: #482818;
      border-bottom: .01rem solid #482818;
    }
  }
}